* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: $font-family;
    color: $black;
}

html {
    font-size: 10px;
}

input,
button {
    font-family: $font-family;
}

button {
    padding-block: 0;
    padding-inline: 0;
    align-items: stretch;
    border: none;
    background-color: unset;
    text-align: left;
    color: $black;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}